*{
   box-sizing: border-box;
}

html, body{
   margin: 0;
   padding: 0;
   min-height: 100vh;
}

body{
   background-color: rgb(80, 94, 97);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5vh;
   font-size: 1.25rem;
}

div:has(button + button){
  display: flex;
  justify-content: center;
  gap: 10%;
}

div:has(button + button) > button{
  padding: 1em 2em;
  border-radius: 1em / 4em;
  background-color: rgb(180, 213, 220);
  border: 2px solid black;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .07em;
}

.products{
   display: flex;
   justify-content: center;   
   gap: 16px/*calc(100% / 70 )*/;
   
   width: 85%;
}

.products > div{
   width: calc(100% / 7);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(180, 213, 220); 
   border-radius: 10% / 10%;
   padding: 1em;
   --displacement: 0;
   transform: translateX(var(--displacement));
}

.products > div > img{
   width: 80%;
   aspect-ratio: 1;
   border-radius: 50%;
}

.lds-hourglass {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}